Jaws_Service_Host/Service References/JawsServiceReference/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1337/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DAL" />
  <xs:element name="getPersonalbyId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPersonalbyIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DAL" minOccurs="0" name="getPersonalbyIdResult" nillable="true" type="q1:Personal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setPersonal">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DAL" minOccurs="0" name="person" nillable="true" type="q2:Personal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setPersonalResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="updatePersonal">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DAL" minOccurs="0" name="personal" nillable="true" type="q3:Personal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updatePersonalResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getPersonalList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getPersonalListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DAL" minOccurs="0" name="getPersonalListResult" nillable="true" type="q4:ArrayOfPersonal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPersonalbyRolleId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPersonalbyRolleIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/DAL" minOccurs="0" name="getPersonalbyRolleIdResult" nillable="true" type="q5:ArrayOfPersonal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getArbeitsvertragbyId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getArbeitsvertragbyIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/DAL" minOccurs="0" name="getArbeitsvertragbyIdResult" nillable="true" type="q6:Arbeitsvertrag" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setArbeitsvertrag">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/DAL" minOccurs="0" name="vertrag" nillable="true" type="q7:Arbeitsvertrag" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setArbeitsvertragResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="updateArbeitsvertrag">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/DAL" minOccurs="0" name="arbeitsvertrag" nillable="true" type="q8:Arbeitsvertrag" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateArbeitsvertragResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getArbeitsvertragList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getArbeitsvertragListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/DAL" minOccurs="0" name="getArbeitsvertragListResult" nillable="true" type="q9:ArrayOfArbeitsvertrag" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRollebyId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRollebyIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/DAL" minOccurs="0" name="getRollebyIdResult" nillable="true" type="q10:Rolle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setRolle">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/DAL" minOccurs="0" name="role" nillable="true" type="q11:Rolle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setRolleResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="updateRolle">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/DAL" minOccurs="0" name="rolle" nillable="true" type="q12:Rolle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateRolleResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getRolleList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getRolleListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/DAL" minOccurs="0" name="getRolleListResult" nillable="true" type="q13:ArrayOfRolle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRechtbyId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRechtbyIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/DAL" minOccurs="0" name="getRechtbyIdResult" nillable="true" type="q14:Recht" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setRecht">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/DAL" minOccurs="0" name="recht" nillable="true" type="q15:Recht" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setRechtResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="updateRecht">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/DAL" minOccurs="0" name="recht" nillable="true" type="q16:Recht" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateRechtResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="setRolleRecht">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/DAL" minOccurs="0" name="rolle" nillable="true" type="q17:Rolle" />
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/DAL" minOccurs="0" name="recht" nillable="true" type="q18:Recht" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setRolleRechtResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="updateRolleRecht">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/DAL" minOccurs="0" name="rollerecht" nillable="true" type="q19:RolleRecht" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateRolleRechtResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getRollefromRechtId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRollefromRechtIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/DAL" minOccurs="0" name="getRollefromRechtIdResult" nillable="true" type="q20:ArrayOfRolle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRechtfromRolleId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRechtfromRolleIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/DAL" minOccurs="0" name="getRechtfromRolleIdResult" nillable="true" type="q21:ArrayOfRecht" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSchichtbyId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSchichtbyIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/DAL" minOccurs="0" name="getSchichtbyIdResult" nillable="true" type="q22:Schicht" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setSchicht">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/DAL" minOccurs="0" name="schicht" nillable="true" type="q23:Schicht" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setSchichtResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="updateSchicht">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/DAL" minOccurs="0" name="schicht" nillable="true" type="q24:Schicht" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateSchichtResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getSchichtbyPersonalId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSchichtbyPersonalIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/DAL" minOccurs="0" name="getSchichtbyPersonalIdResult" nillable="true" type="q25:ArrayOfSchicht" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSchichtBetween">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="von" type="xs:dateTime" />
        <xs:element minOccurs="0" name="bis" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSchichtBetweenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/DAL" minOccurs="0" name="getSchichtBetweenResult" nillable="true" type="q26:ArrayOfSchicht" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLieferantbyId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLieferantbyIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/DAL" minOccurs="0" name="getLieferantbyIdResult" nillable="true" type="q27:Lieferant" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setLieferant">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/DAL" minOccurs="0" name="lieferant" nillable="true" type="q28:Lieferant" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setLieferantResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="updateLieferant">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/DAL" minOccurs="0" name="lieferant" nillable="true" type="q29:Lieferant" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateLieferantResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getLieferantList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getLieferantListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/DAL" minOccurs="0" name="getLieferantListResult" nillable="true" type="q30:ArrayOfLieferant" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getArtikelbyId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getArtikelbyIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/DAL" minOccurs="0" name="getArtikelbyIdResult" nillable="true" type="q31:Artikel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setArtikel">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/DAL" minOccurs="0" name="artikel" nillable="true" type="q32:Artikel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setArtikelResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="updateArtikel">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/DAL" minOccurs="0" name="artikel" nillable="true" type="q33:Artikel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateArtikelResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getArtikelList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getArtikelListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/DAL" minOccurs="0" name="getArtikelListResult" nillable="true" type="q34:ArrayOfArtikel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getArtikelbyLieferantId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getArtikelbyLieferantIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/DAL" minOccurs="0" name="getArtikelbyLieferantIdResult" nillable="true" type="q35:ArrayOfArtikel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getArtikelbyWarengruppeId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getArtikelbyWarengruppeIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/DAL" minOccurs="0" name="getArtikelbyWarengruppeIdResult" nillable="true" type="q36:ArrayOfArtikel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getBelegbyId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getBelegbyIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/DAL" minOccurs="0" name="getBelegbyIdResult" nillable="true" type="q37:Beleg" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setBeleg">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/DAL" minOccurs="0" name="beleg" nillable="true" type="q38:Beleg" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setBelegResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="updateBeleg">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/DAL" minOccurs="0" name="beleg" nillable="true" type="q39:Beleg" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateBelegResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getBelegList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getBelegListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/DAL" minOccurs="0" name="getBelegListResult" nillable="true" type="q40:ArrayOfBeleg" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setArtikelBeleg">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/DAL" minOccurs="0" name="artikel" nillable="true" type="q41:Artikel" />
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/DAL" minOccurs="0" name="beleg" nillable="true" type="q42:Beleg" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setArtikelBelegResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="updateArtikelBeleg">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/DAL" minOccurs="0" name="artikelbeleg" nillable="true" type="q43:ArtikelBeleg" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateArtikelBelegResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getArtikelfromBelegId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getArtikelfromBelegIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/DAL" minOccurs="0" name="getArtikelfromBelegIdResult" nillable="true" type="q44:ArrayOfArtikel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getBelegfromArtikelId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getBelegfromArtikelIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/DAL" minOccurs="0" name="getBelegfromArtikelIdResult" nillable="true" type="q45:ArrayOfBeleg" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getWarengruppebyId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getWarengruppebyIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/DAL" minOccurs="0" name="getWarengruppebyIdResult" nillable="true" type="q46:Warengruppe" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setWarengruppe">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/DAL" minOccurs="0" name="gruppe" nillable="true" type="q47:Warengruppe" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setWarengruppeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="updateWarengruppe">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/DAL" minOccurs="0" name="warengruppe" nillable="true" type="q48:Warengruppe" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateWarengruppeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getWarengruppeList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getWarengruppeListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/DAL" minOccurs="0" name="getWarengruppeListResult" nillable="true" type="q49:ArrayOfWarengruppe" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getWarengruppebyName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getWarengruppebyNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/DAL" minOccurs="0" name="getWarengruppebyNameResult" nillable="true" type="q50:Warengruppe" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPrognosebyId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPrognosebyIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/DAL" minOccurs="0" name="getPrognosebyIdResult" nillable="true" type="q51:Prognose" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setPrognose">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/DAL" minOccurs="0" name="prognose" nillable="true" type="q52:Prognose" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setPrognoseResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="updatePrognose">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/DAL" minOccurs="0" name="prognose" nillable="true" type="q53:Prognose" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updatePrognoseResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getPrognoseList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getPrognoseListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/DAL" minOccurs="0" name="getPrognoseListResult" nillable="true" type="q54:ArrayOfPrognose" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPrognosebyArtikelId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPrognosebyArtikelIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/DAL" minOccurs="0" name="getPrognosebyArtikelIdResult" nillable="true" type="q55:Prognose" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPrognosebyDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="date" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPrognosebyDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/DAL" minOccurs="0" name="getPrognosebyDateResult" nillable="true" type="q56:ArrayOfPrognose" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLieferartbyId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLieferartbyIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/DAL" minOccurs="0" name="getLieferartbyIdResult" nillable="true" type="q57:Lieferart" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setLieferart">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/DAL" minOccurs="0" name="lieferart" nillable="true" type="q58:Lieferart" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setLieferartResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="updateLieferart">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/DAL" minOccurs="0" name="lieferart" nillable="true" type="q59:Lieferart" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateLieferartResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getLieferartList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getLieferartListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/DAL" minOccurs="0" name="getLieferartListResult" nillable="true" type="q60:ArrayOfLieferart" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>